#form{
    border: 1px solid black ;
    width: 40%;
    padding: 3vh;
    margin: auto;
    border-radius: 2px;

}
#form>input{
    margin: 1vh;
    padding: 0.7vh;
    width: 90%;
    border-radius: 2px;

}
#form>input:last-child{
    width: 40%;
    /* margin: auto; */
    
}